/*  Start Search Input Fields */
.search-container {
    margin-top: -20px;
    height: 280px;
    background-image: linear-gradient(to right top, #17464a, #003b4c, #002e4d, #001f48, #1e0a39);
    box-shadow: inset;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    /* background-image: url('https://images.unsplash.com/photo-1623625434462-e5e42318ae49?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80'); */
    background-image: url('https://images.unsplash.com/photo-1520277739336-7bf67edfa768?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    /* background-image: url('https://media.istockphoto.com/id/1166153578/de/vektor/vektor-cartoon-studenten-schlafsaal-raum-innen.jpg?s=612x612&w=0&k=20&c=hUVYv9cvL40_ywb89_ms__HBatti4JmbRsKKlSy8bPY='); */
    /* background-image: url("src/assets/hostel1.jpg"); */
}

.search-items {
    padding: 30px;
    height: 220px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-top: 20px;
    align-items: center;
}

/* Ends Input Field */
.searchbyname {
    margin-bottom: 20px;
    width: 25rem;
    height: 2rem;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    /* text-transform: uppercase; */
    border-style: none;
    border-radius: 50px;
    color: #001f48;

}

.inputdetails {
    width: fit-content;
    height: 2rem;
    border-radius: 5px;
    color: #061b36;


}
.seater-type {
    border-radius: 5px;
}
.hosteltype {
    width: 5rem;
}

.checkboxfacilities {
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* color: #001f48; */
    /* color: black; */

}
/* facilities */
.fact-text {
    font-weight: bold;
    font-size: large;
    /* color: #001f48; */
    
}

.fact-item {
    display: flex;
    
    gap: 4px;
    font-size: large;

}

.fact-item input {
    width: 20px;
}
.search-button-container {
    display: flex;
    justify-content: center;
}


.search {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 120px;
    height: 35px;
}

.search:active {
    background-color: rgb(168, 180, 212);
    transition: 0s;
}

.location-container {
    display: flex;
    gap: 10px;
}