/*  */

/* html,body{
    height: 100%;
    /* width:100%} */
.navBackground{
    width: auto;
    height: 65px;
    
    /* border-bottom-style: solid; */
    /* border-bottom-color: #214862; */
    background-image: linear-gradient( to right,#0D324D,#7F5A83);
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */

    /* background-image: linear-gradient(to bottom left, #161729,rgb(16, 30, 74)); */
}
#logo{
    position: absolute;
    width: 20px;
    height: 48.15px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin-top: 0px;
    margin-left: 10px;
    color: #FFFFFF;
    cursor: pointer;
}


.navItemsContainer{
    
   
    position:absolute;
/* margin-top: 20px;
margin-left: ; */
top: 20px;
left: 150px;
/* width: 100%; */
display: flex;
gap: 20px;





/* background-color: #335368; */

}



/* the Navlink assings an anchor tag with class active to the clicked path in the browser */
.navItemsContainer a.active{
    
    
    background-color: #161729;
    border-radius: 5px;
    height: 50px;
    border-color: #161729;
   
}


.navItems{
    
    width: 130px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f7bf;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    /* background-color: aqua; */
    background-color: #030c13;
    border-bottom-style: solid;
    border-bottom-color: #161729;
    border-radius: 5px;
    /* border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px; */
    
    
    
}



.navItems:hover{
    background-color:#46290b;
    /* background-color: rgb(33, 49, 60); */
}

.navItems:active{

    background-color:#161729;
}

.userIdentity{
    position: absolute;
    right: 20px;
    top:25px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: rgb(91, 142, 225);
    cursor: pointer;
/* background-color: rgb(138, 135, 225); */
}


/* ____________________________Register-Hostel____________________________________ */
.registerContainer{
    position:absolute;
    background-color: #161729;
    height: auto;
    /* height: 100%; */
    background-image: linear-gradient(to bottom, #161729, #111b2c, #0d1f2e, #0a222e, #0a252e);
    width: 100%;
    
}

.registerItemsNames{
    color: rgb(231, 224, 177);
    margin-left: 2%;

}

.registerForm{
    margin-top:20px;
    /* background-color: red; */
}
.forminputfield_1{
    /* width: 200px; */
    height: 35px;
    position: relative;
    top: 10px;
    border:4px solid #093958;
    border-radius: 5px;
}

.forminputfield_2{
    width: 200px;
}

.nameAndpan{
    /* background-color: gray; */
    
display: flex;
gap:30px;

}

.dis-pla-typ{
    display: flex;
    gap: 30px;
}


.manager-contact{
    display: flex;
    gap:30px
 } 

 .price-of-room{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }
.prices-and-name-inputs{
    /* background-color: red; */
    
    display: flex;
    align-items: center;
    gap:5px
    
}
.room-checkbox{
    height:30px;
    width: 30px;
    position: relative;
    top:1px;
    left:2rem;
    cursor: pointer;
    
}

/* to to inputfield in middle */
.middle{
    position: relative;
    top:3px
}

.price-bg{
    background-color: #424655;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
    
}

.description{
    height: 200px;
    width: 600px;
    /* text-align: left;
    box-sizing: border-box;
    text-align: top;?
    resize: none; */
}


.checkboxsize{
    /* height: 20px; */
    width: 25px;
}

.facilities-items{
    height:160px;
    width:500px;
    display: grid;
    /* background-color: red; */
    grid-template-rows:repeat(4,50px);
    /* grid-template-columns:repeat(3,200px); */
    grid-template-columns:100px 200px 100px;
    
    /* row-gap:0px;
    column-gap:1px; */
    /* grid-template-rows: */
    
}

.grid-item{
    /* background-color: green; */
    /* width: 50px;
    height: 50px; */
    display:flex;
    align-items: baseline;
    gap: 5px;   
    
}


.hostel-image{
    /* border:solid; */
/* background-color: red; */
display: flex;
flex-direction: column;
gap: 10px;
}
.hostel-image-items{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background-color: rgb(205, 224, 100); */
    width: 20rem;
    border-radius: 5px;
    border:1px solid rgb(49, 116, 119)
    
}
.register-button{
    width:100%;

    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.register-button-item{
    color: rgb(238, 239, 164);   
    height: 45px;
    width: 130px;
    font-family:monospace;
    font-size: large;
    font-weight: bold;
    /* color: #7F5A83; */
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
   
    border-radius: 10px;
    /* display: block; */
}
.register-button-item:hover{
    box-shadow: 0 0 10px #eee;
    cursor: pointer;
    /* background-position: right center; */
    background-image: linear-gradient(to bottom, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    color: #fff;
}


/* ________________________________UpdateHostelpage __________________________________________*/


.hostel-container-bg{
    color: #f8f7bf;
    background-color: #161729;
    background-image: linear-gradient(to bottom, #161729, #111b2c, #0d1f2e, #0a222e, #0a252e);
    position:absolute;
    height:100%;
    
    width:100%;
    
}

.hostel-list-container{

    

background-color: #424655;
width:fit-content;
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px;
border-radius: 5px;
margin-left: 10px;


    
}
/* 
.hostel-list-container Link{
    background-color: red;
} */

.hostel-list-container ul{
    list-style-type: none;
    border-radius: 5px;
    border:1px solid rgb(45,116,119);
    padding: 5px;
    font-weight: bold;
    color: wheat;

    

}

.hostel-list-container ul:hover{
    background-color:#161729;
    cursor: pointer;
    border:none;
    
    

}


/*___update hostel page with the specific id to get the the details of the hostel and modify it_________________________________________________ */

.hostel-id-text{
    background-color: #093958;
    /* margin-top: 20px; */
    position: relative;
    top: 1.4rem;
    width: 10rem;
    height: 2rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



/* ___________________Bookings table of hostel________________________ */

.booking-page{
    color: #e5eba5;
    background-color: #161729;
    position:absolute;
    height:100%;
    
    width:100%;

}
.booking-page h2{
    text-align: center;
    margin-top: 10px;
}
.booking-container{
    
    background-color: #424655;
    /* margin-right: 10px; */
    /* float: left; */
    position: relative;
    right: 10px;
    left: 10px;
    border-radius: 5px;
    margin-right:20px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* border-radius: 5px; */
    /* margin-right: 10px; */
  }
  
  #customers td, #customers th {
    border-right: 1px solid rgb(67, 151, 120);
    
    padding: 8px;
    /* border-bottom:1px solid rgb(67,151,120); */
    border-radius: 5px;
  }
  #customers thead{
    border-bottom: 1px solid rgb(67, 151, 120);
  }
  
  #customers tr:nth-child(even){background-color: #4b6f70;}
  
  #customers tr:hover {background-color: rgb(16, 41, 59);}
  
  #customers th {
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #424655;
    color: rgb(206, 228, 148);
    
  }

  
  

  #customers th:last-child{
    border:none;
    
  }

  #customers td:last-child{
    border: none;
  }

  .booking-confirm-btn{
    /* font-family: cursive; */
    background-color: #0a1f2e;
    border-radius: 15px;
    cursor: pointer;
    width: 75%;
    padding: 5px;
    margin-left: 25px;
    color: wheat;
    border: none;
    
  }

  .booking-confirm-btn:hover{
    background-color: #0a0810;
    
    color: wheat;
    color: lightseagreen;
  }

